<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
      <div class="box" id="heading">
      <h1> <%= TypeofDay %> </h1> 
    </div>
    <div class="box"> 
          <% for (var i=0; i<Additem.length; i++)
          { %>
            <div class="item">
                <input type="checkbox" name="value">
                <p> <%= Additem[i] %> </p>
            </div>
            <% } %>
            <form  class="item" action="/" method="post">
              <input type="text"  name="item" placeholder="Create New Todo" autofocus="on" autocomplete="off">
              <button type="submit"name="button">+</button>
            </form>
    </div>
      
      
</body>
</html>